In [5]:
import pandas as pd
import numpy as np
import math
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
data = pd.read_table('adult.csv',sep=',')
data.head(2)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K

In [3]:
dummies = pd.get_dummies(data)
dummies.head(10)

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K,income_>50K
0,90,77053,9,0,4356,40,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,82,132870,9,0,4356,18,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,66,186061,10,0,4356,40,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,54,140359,4,0,3900,40,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,41,264663,10,0,3900,40,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,34,216864,9,0,3770,45,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6,38,150601,6,0,3770,40,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7,74,88638,16,0,3683,20,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
8,68,422013,9,0,3683,40,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
9,41,70037,10,0,3004,60,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [10]:
columns = list(dummies.columns.values)
columns.remove("income_<=50K")
columns.remove("income_>50K")
columns.remove('fnlwgt')
columns.remove('capital.gain')
columns.remove('capital.loss')
trainMin = 30000
trainMax = 32000

chosen = 5325

n=5

lowestDist = []
lowestIds = []
for j in range (0,n):
    lowestIds.append(0)
    lowestDist.append(math.inf)

#eucDistances = []

value = 0
for i in  range (trainMin, trainMax):
    for k in columns:
        
        value+=(dummies[k][i] - dummies[k][chosen]) ** 2
    currentD = math.sqrt(value)
    #eucDistances.append(currentD)
   
    for j in range (0,n):
        
        if (currentD <  lowestDist[j] and i not in lowestIds):
            tmpD = lowestDist[j]
            lowestDist[j] = currentD
            currentD=lowestDist[j]
            
            tmpId = lowestIds[j]
            lowestIds[j] = i
            i=lowestIds[j]
    
    
    value = 0
    
counter =0
print('Income of closest people: ')
for l in range (0, len(lowestIds)):
    print(data['income'][l])
    if data['income'][l] =='>50K':        
        counter+=1
if counter>= n/2:
    print("Decided: >50K")
else:
    print("Decided: <=50K")

print('Given:' + data['income'][chosen])

Income of closest people:
<=50K
<=50K
<=50K
<=50K
<=50K
Decided: <=50K
Given:<=50K